<!-- Modal Start -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
aria-labelledby="staticBackdropLabel" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
        <div class="modal-header">
            <h1 class="modal-title fs-5" id="staticBackdropLabel">Session Timeout</h1>
        </div>
        <div class="modal-body">
            You are logged out, click on log-in button to again log-in.
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" onclick="login()">Log in</button>
        </div>
    </div>
</div>
</div>
<!-- Modal End -->